@import url(https://fonts.googleapis.com/css?family=Raleway);
.background {
  background-image: url(../images/back-lock.jpg);
  background-size: cover;
  height: 500px; }
  .background h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 50px; }
  .background p {
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 50px; }

.hr-text {
  border: 1px solid #373737;
  margin: 0;
  width: 45px; }

.background-image {
  background-image: url(../images/bg3.jpg);
  background-size: cover;
  height: 550px; }
  .background-image h3 {
    color: white;
    padding-top: 30px;
    font-size: 35px; }
  .background-image .hr-my-title {
    border: 1px solid white;
    margin: 0;
    width: 45px; }
  .background-image p {
    color: white;
    text-align: left; }

.section-images .icons-redes-socials .i {
  color: red; }

.info-4icons .starter {
  border: 1px solid black;
  background-color: #F2F2F3; }
.info-4icons .icons-up {
  background-color: #F2F2F3;
  display: block; }
.info-4icons .icons-down {
  background-color: #F2F2F3;
  display: block; }

.fondo-gray {
  background-color: #F2F2F3;
  padding: 25px; }
  .fondo-gray .redes-soiales i {
    color: red;
    height: 30px;
    width: 30px; }

/*# sourceMappingURL=main.css.map */
