.background {
	background-image: url(../images/back-lock.jpg);
	background-size: cover;
	height: 500px;
	
		h1 {
			color: white;
			font-size: 50px;
			text-align: center;
			padding: 50px;
		}
		p {
			color: white;
			font-size: 15px;
			text-align: center;
			padding: 50px;
		}
}

.hr-text {
	border: 1px solid #373737;
	margin: 0;
	width: 45px;
}

.background-image {
	background-image: url(../images/bg3.jpg);
	background-size: cover;
	height: 550px;
		h3 {
			color: white;
			padding-top: 30px;
			font-size: 35px;
		}
		.hr-my-title{
			border: 1px solid white;
			margin: 0;
			width: 45px;
		}
		p {
			color: white;
			text-align: left;
		}
}

.section-images {
	.icons-redes-socials {
		i {
			color: gray;
			height: 30px;
			width: 30px
		}
	}
}

.info-4icons {
	.starter {
		border: 1px solid black;
		background-color: #F2F2F3;
	}
	.icons-up {
		background-color: #F2F2F3;
		display: block;
	}
	.icons-down {
		background-color: #F2F2F3;
		display: block;
	}
	.background-black {
		background-color: #131111;
		p {
			color: white;
		}
	}
}

.fondo-gray {
	background-color: #F2F2F3;
	padding: 25px;

	.redes-soiales {
		i {
			color: gray;
			height: 30px;
			width: 30px
		}
	}

}